{% extends 'base_detail.html' %}

{% load django_tables2 %}
{% load util %}

{% block extra_css %}
    {{ block.super }}
    <style>
        .custom-red-btn {
        background-color: #dc3545; /* Красный цвет */
        color: white; /* Белый текст */
        border: none; /* Убираем границу */
        padding: 10px 20px; /* Отступы */
        border-radius: 5px; /* Закругленные углы */
        text-decoration: none; /* Убираем подчеркивание */
        cursor: pointer; /* Курсор в виде указателя */
    }

    .custom-red-btn:hover {
        background-color: #c82333; /* Темнее красный при наведении */
    }
    </style>
{% endblock %}

{% block detail-header %}
<h1>
    {{object}}
</h1>
{% endblock %}