{% extends 'base_detail.html' %}

{% load django_tables2 %}
{% load util %}

{% block detail-header %}
<h1>
    Ведомость {{object}}
</h1>
{% endblock %}

{% block actions-button %}
    <a class="btn-primary" href="{% url url_update pk=object.pk %}">
        Изменить
    </a>
    <a class="btn-primary" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
        Скачать
    </a>
{% endblock %}

{% block ditail-content %}

    {{ block.super }}
    
    <div class="detail-content" style="margin-top: 20px;">
        <div class="detail-tabs">
            <button class="detail-tab active tab-button" data-tab="info">Квалификации</button>
        </div>
        
        <div class="detail-tab-content">
            <a class="btn-primary" href="{% url 'gradebookstudents_bulk_create' pk=object.pk %}">
                Заполнить ведомость
            </a>
            {% with table=tables.0 %}
                {% render_table table 'inc/table/table.html' %}
                {% include 'inc/pagination.html' with page_obj=table.page %}
            {% endwith %}
        </div>
    </div>

    <div class="detail-content" style="margin-top: 20px;">
        <div class="detail-tabs">
            <button class="detail-tab active tab-button" data-tab="info">Преподаватели</button>
        </div>
        
        <div class="detail-tab-content">
            {% with table=tables.1 %}
                {% render_table table 'inc/table/table.html' %}
                {% include 'inc/pagination.html' with page_obj=table.page %}
            {% endwith %}
        </div>
    </div>

{% endblock %}