# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
.venv/
.idea/
*.env
.venv
.env 
env/ 
venv/ 

# Django
db.sqlite3
/static/
README.txt

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history