{% extends 'base_view.html' %}

{% block tabs %}
    {{ block.super }}
    <button class="tab-button" data-tab="import">Импорт</button>
{% endblock %}

{% block tab-content %}
    {{ block.super }}
    <div id="import" class="tab-pane">
        <div class="page-header">
            <h2>Импорт студентов из Excel</h2>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% with form=form_import %}
                {% include 'inc/form/form.html' %}
            {% endwith %}
        <br>
            <button type="submit" class="btn-primary">Загрузить</button>
        </form>
    </div>
{% endblock %}
