{% extends 'base.html' %}

{% load util %}

{% block content %}
    <div class="page-container">
        <div class="page-header">
            <h2>
                {% block form_title %}
                    Ведомость
                {% endblock %}
                {{ gradebook }}
                № {{gradebook.pk}}
            </h2>
            {% block buttons %}
                <a class="btn-primary" style="display: inline-block; margin: 10px 0;" href="{% url gradebook|get_url:'url_detail' gradebook.pk %}">
                    К ведомости
                </a>
            {% endblock %}
        </div>
        <form id="multi-form" class="multi-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'inc/form/form_set.html' %}
            <button class="btn-primary" id="submit" type="submit">
                Заполнить
            </button>
        </form>
    </div>
{% endblock  %}

{% block extra_js %}
    {{ block.super }}
    <script>
        const selects = document.querySelectorAll("select[handshakable='un']");
        const form = document.getElementById('multi-form');

        form.addEventListener('submit' , function(e){
            e.preventDefault();

            selects.forEach(element => {
                element.disabled = false;
            });

            this.submit();
        });
    </script>
{% endblock %}