{% load static %}

<link rel="stylesheet" href="{% static 'Academhub/css/table.css' %}">

<table class="data-table">
    <thead>
        <tr>
            {% for column in table.columns %}
                <th>{{ column.header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.page.object_list %}
            <tr>
                {% for column, cell in row.items %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{#<script>#}
{#    if (window.innerWidth <= 768) {#}
{#        window.location.href = window.location.pathname + "?mobile=1";#}
{#    } else {#}
{#        window.location.href = window.location.pathname + "?mobile=2";#}
{#    }#}
{#</script>#}

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const mobileParam = urlParams.get("mobile");

    if (window.innerWidth <= 768 && mobileParam !== "1") {
        urlParams.set("mobile", "1");
        window.location.search = urlParams.toString();
    }
    else if (window.innerWidth > 768 && mobileParam !== "2") {
        urlParams.set("mobile", "2");
        window.location.search = urlParams.toString();
    }
</script>




{#<table class="data-table mobile-table">#}
{#    <thead>#}
{#        <tr>#}
{#            {% for column in table.columns %}#}
{#                <th>{{ column.header }}</th>#}
{#            {% endfor %}#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        {% for row in table.page.object_list %}#}
{#            <tr>#}
{#                {% for column, cell in row.items %}#}
{#                    <td>{{ cell }}</td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </tbody>#}
{#</table>#}

<!-- Десктопная таблица -->
{#<table class="data-table desktop-table">#}
{#    <thead>#}
{#        <tr>#}
{#            {% for column in table.columns %}#}
{#                <th>{{ column.header }}</th>#}
{#            {% endfor %}#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        {% for row in desktop_table.page.object_list %}#}
{#            <tr>#}
{#                {% for column, cell in row.items %}#}
{#                    <td>{{ cell }}</td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </tbody>#}
{#</table>#}
{##}
{#<!-- Мобильная таблица -->#}
{#<table class="data-table mobile-table">#}
{#    <thead>#}
{#        <tr>#}
{#            {% for column in table.columns %}#}
{#                <th>{{ column.header }}</th>#}
{#            {% endfor %}#}
{#        </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#        {% for row in mobile_table.page.object_list %}#}
{#            <tr>#}
{#                {% for column, cell in row.items %}#}
{#                    <td>{{ cell }}</td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </tbody>#}
{#</table>#}
