{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% load util %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'Academhub/css/table_style.css' %}">
    <link rel="stylesheet" href="{% static 'Academhub/css/base_table.css' %}">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="header-main">
            <div class="title">
                <h3>
                    Таблица {{ table_name }}
                </h3>
            </div>
        </div>
        <div class="table_container">
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button 'filter' %}
            </form>
            <div class="buttons">
                <form action="" method="post">
                    {% csrf_token %}
                    <button>
                        Удалить
                    </button>
                </form>
                <button>
                    {% if url_create|check_url_exists %}
                        <a href="{% url url_create %}">
                            Добавить
                        </a>
                    {% endif %}
                </button>
            </div>
            {% render_table table 'django_tables2/bootstrap.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'Academhub/js/table.js' %}"></script>
{% endblock %}