{% extends 'inc/_links.html' %}

{% load static %}

{% block title %}
    Ам ням
{% endblock %}

{% block body %}

    {% include 'inc/_nawbar.html' %}
    <main>
        {% include 'inc/_header.html' %}
        <content>
            {% block content %}
                <h1>Блок контента</h1>
            {% endblock %}
        </content>


        {% include 'inc/_footer.html' %}

    </main>

{% endblock %}

{% block js %}
    <script src="{% static 'Academhub/js/theme.js' %}"></script>
{% endblock %}
