{% extends 'base.html' %}

{% load util %}
{% load static %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'Academhub/css/detail.css' %}">
{% endblock %}

{% block content %}
<div class="detail-container">
    <div class="detail-header">
        {% block detail-header %}

        {% endblock %}
        <div class="header-actions">
            <a class="btn-primary" href="{% url url_list %}">
                Назад к таблице
            </a>
            {% block actions-button %}
            {% endblock %}
        </div>
    </div>
    
    {% block ditail-content %}

        <div class="detail-content">
            <div class="detail-tabs">
                {% block tabs_button %}
                    {% for section in fieldset.keys %}
                        <button class="detail-tab tab-button
                            {% if forloop.counter0 == 0 %}
                                active
                            {% endif %}
                        " data-tab="{{ section }}">{{ section }}</button>
                    {% endfor %}
                {% endblock %}
            </div>
            
            <div class="detail-tab-content">
                {% block tabs %}
                    
                    {% for key, fields in fieldset.items %}
                        <div id="{{key}}" class="tab-pane
                            {% if forloop.counter0 == 0 %}
                                active
                            {% endif %}"
                        >
                            <div class="info-list">
                                {% for field in fields %}
                                    <div class="info-item">
                                        <span class="info-label">{{ object|verbose_name:field }}</span>
                                        
                                        {% with object_field=object|attr:field %}

                                            {% if object|is_many_to_many:field %}

                                                <span class="info-value">Это поле многие ко многим</span>
                                                
                                            {% elif object|is_one_to_one:field %}

                                                <span class="info-value">Это поле один к одному</span>

                                            {% elif object|is_foreign_key:field %}

                                                <a class="info-value" href="{% url object_field|get_url:'url_detail' object_field.pk %}">
                                                    {{ object_field }}
                                                </a>

                                            {% else %}

                                                <span class="info-value">{{ object_field|default:'-' }}</span>

                                            {% endif %}

                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                {% endblock %}
            </div>
        </div>

    {% endblock %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="module" src="{% static 'Academhub/js/switchTab.js' %}"></script>
{% endblock %}

