{% extends 'base_object_view.html' %}

{% load static %}
{% load bootstrap4 %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'Academhub/css/base_form.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block h3 %}
    Создать {{ mobel_verbosename }}
{% endblock %}

{% block main_content %}
    <form method="POST" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="container">
            <div class="row">
                {% for field in form %}
                    <div style="display: flex;">
                        <div class="prime">
                            <label for="{{ field.id_for_label }}" style="color: var(--text-color)">{{ field.label }}</label>
                            <div class="form-control">
                                {{ field }}
                            </div>
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'Academhub/js/validation.js' %}"></script>
{% endblock %}
