{% extends 'base.html' %}

{% load render_table from django_tables2 %}
{% load util %}
{% load bootstrap4 %}

{% load static %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'Academhub/css/table_style.css' %}">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="header-main">
            <div class="title">
                <h3>Таблица {{ table_name }}</h3>
            </div>
        </div>
        <div class="tabs-container">
            <!-- Заголовок вкладок -->
            <div class="tabs-header">
                <div class="tab active" data-tab="table">Таблица</div>

                <div class="tab" data-tab="filters">Фильтры</div>
            </div>

            <!-- Содержимое вкладок -->
            <div class="tabs-content gap-5" id="filters">
                <form action="" method="get" class="form-inline" style="display: flex; justify-content: space-between; flex-direction: column">
                    <div class="container">
                        <div class="row">
                            {% for field in  filter.form %}
                                <div  style="display: flex; justify-content: space-between;">
                                    <div class="prime">
                                        {% if field.label == 'Группа' %}
                                            <div class="scroll-container">
                                                <label for="{{ field.id_for_label }}" style="color: var(--text-color)">{{ field.label }}</label>
                                                <div class="form-control scrollable">
                                                    {{ field }}
                                                </div>
                                            </div>
                                        {% else %}
                                            <label for="{{ field.id_for_label }}" style="color: var(--text-color)">{{ field.label }}</label>
                                            <div class="form-control" style="text-decoration: white">
                                                {{ field }}
                                            </div>
                                        {% endif %}

                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="my-custom-btn">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tabs-content active" id="table">
                <div class="buttons-conn">
                    {% if url_delete|check_url_name_exists %}
                    <form action="{% url url_delete %}" method="post" class="my-custom-delete-form">
                        {% csrf_token %}
                        <button type="submit" class="my-custom-delete-btn">Удалить</button>
                    </form>
                    {% endif %}
                    <br>
                    {% if url_create|check_url_name_exists %}
                        <button class="my-custom-btn">
                            <a href="{% url url_create %}">
                                Добавить
                            </a>
                        </button>
                    {% endif %}
                </div>
                <br>
                {% include 'inc/table/active_filters.html' %}
                <br>
                {% render_table table '_table.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        // Логика для переключения вкладок
        document.addEventListener('DOMContentLoaded', () => {
            const tabs = document.querySelectorAll('.tab');
            const contents = document.querySelectorAll('.tabs-content');

            tabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    // Удалить активные классы
                    tabs.forEach(t => t.classList.remove('active'));
                    contents.forEach(c => c.classList.remove('active'));

                    // Добавить активный класс к текущей вкладке и её содержимому
                    tab.classList.add('active');
                    const target = tab.getAttribute('data-tab');
                    document.getElementById(target).classList.add('active');
                });
            });
        });
    </script>
    <script src="{% static 'Academhub/js/table.js' %}"></script>
{% endblock %}

