{% extends 'AccessControl/detail/base_permission.html' %}

{% block permissions-list-header %}
    Права пользователя
{% endblock %}

{% block extra-detail-content %}
    <div class="detail-content" style="margin-top: 20px;">
        
        <!-- <div class="detail-tab-content">
            {% with table=tables.1 %}
                {% render_table table 'inc/table/table.html' %}
                {% include 'inc/pagination.html' with page_obj=table.page %}
            {% endwith %}
        </div> -->
    </div>
{% endblock %}