{% load static %}
{% load util %}

<link rel="stylesheet" href="{% static 'Academhub/css/pagination.css' %}">

<div class="pagination">
    <div class="pagination-info">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
    </div>
    <div class="pagination-controls">
        {% if page_obj.has_previous %}
            <a href="{% paginate_param 1 %}" class="pagination-button">« Первая</a>
            <a href="{% paginate_param page_obj.previous_page_number %}" class="pagination-button">Предыдущая</a>
        {% endif %}

        <div class="pagination-pages">
            {% if page_obj.paginator.num_pages > 1 %}
                {% with start=page_obj.number|add:"-3"|default:1 end=page_obj.number|add:"3" %}
                    {% if start > 1 %}
                        <a href="{% paginate_param 1 %}" class="pagination-button">1</a>
                        {% if start > 2 %}
                            <span class="pagination-ellipsis">...</span>
                        {% endif %}
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if num >= start and num <= end and num <= page_obj.paginator.num_pages %}
                            {% if num == page_obj.number %}
                                <span class="pagination-button active">{{ num }}</span>
                            {% else %}
                                <a href="{% paginate_param num %}" class="pagination-button">{{ num }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if end < page_obj.paginator.num_pages %}
                        {% if end < page_obj.paginator.num_pages|add:"-1" %}
                            <span class="pagination-ellipsis">...</span>
                        {% endif %}
                        <a href="{% paginate_param page_obj.paginator.num_pages %}" class="pagination-button">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% endwith %}
            {% endif %}
        </div>

        {% if page_obj.has_next %}
            <a href="{% paginate_param page_obj.next_page_number %}" class="pagination-button">Следующая</a>
            <a href="{% paginate_param page_obj.paginator.num_pages %}" class="pagination-button">Последняя »</a>
        {% endif %}
    </div>
</div>