<aside class="sidebar">
    <div class="sidebar-header">
        <h1 style="text-align: center;">
            <a href="{% url 'home' %}" style="text-decoration: none; color: var(--text-color);">
                AcademHub
            </a>
        </h1>
    </div>
    <nav class="sidebar-nav">
        <ul id="nav-menu">
            
            <a href="{% url 'personal_account'  %}" class="nav-item">
                Личный кабинет
            </a>

            {% for link in navigation %}
                {% include "inc/navigation_item.html" with link=link %}
            {% endfor %}
        </ul>
    </nav>
    <div class="sidebar-footer">
        <span id="username">Привет {{ user.email }}</span>
        <div id="user-section" class="user-section">
            <div id="theme-toggle" class="theme-toggle">
                <span class="material-icons">dark_mode</span>
            </div>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button id="logout-btn" class="btn-secondary btn-red">Logout</button>
            </form>
        </div>
    </div>
</aside>

<script>
    let parents = []

    let parents_div = document.querySelectorAll('div[name="parent"]');

    parents_div.forEach(parent => {
        let ul = parent.nextElementSibling;
        let childrens_lenght = ul?.children.length;

        console.log(childrens_lenght);

        if (childrens_lenght == 0)
        {
            parent.remove();
            ul.remove();   
        }
    });

    console.log(parents)

</script>