<aside class="sidebar">
    <div class="sidebar-header">
        <h1 style="text-align: center;">
            <a href="{% url 'home' %}" style="text-decoration: none; color: var(--text-color);">
                AcademHub
            </a>
        </h1>
    </div>
    <nav class="sidebar-nav">
        <ul id="nav-menu">
            
            {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="nav-item">
                    Панель администратора
                </a>
            {% endif %}
            
            <a href="{% url 'personal_account'  %}" class="nav-item">
                Личный кабинет
            </a>

            {% for link in navigation %}
                {% include "inc/navigation_item.html" with link=link %}
            {% endfor %}
        </ul>
    </nav>
    <div class="sidebar-footer">
        <div id="theme-toggle" class="theme-toggle">
            <span class="material-icons">dark_mode</span>
        </div>
        <div id="user-section" class="user-section">
            <span id="username"></span>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button id="logout-btn" class="btn-secondary btn-red">Logout</button>
            </form>
        </div>
    </div>
</aside>